.App {
  background-image: url("background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.App .sub {
  position: absolute;
  width: calc(26vw + 10px);
  height: calc(1.6vh + 10px);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  min-height: 50%;
  font-size: calc(6vmin);
  color: #e5f1ba;
  font-weight: bolder;
  text-align: center;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.App .sub.title {
  top: -18%;
  left: 36%;
  color: black;
  font-style: normal;
}

.App .sub.upper {
  top: 11%;
  left: 36%;
}

.App .sub.lower {
  top: 38.5%;
  left: 36%;
}

.App .sub.signup {
  top: 85%;
  left: 36%;
  min-height: 10%;
}