@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

.App {
  background-image: url("background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.App .sub {
  position: absolute;
  width: 25vw;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 6vmin;
  color: #e5f1ba;
  text-align: center;
  font-weight: bolder;
  font-family: 'Cormorant Garamond', serif;
  left: 37.5vw;
}

.App .sub.upper {
  top: 28vh;
  font-style: italic;
}

.App .sub.lower {
  top: 53vh;
  font-style: italic;
}

.App .sub.signup {
  width: 60vw;
  top: 88.5vh;
  left: 20.5vw;
}

.App .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 13vh;
  width: 30vh;
}